.shop__header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.shop__header__navbar {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

.shop__header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: inline-flex;
}

.shop__header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.shop__header__navbar-item--notify:hover .header__notify {
    display: block;
}

.shop__header__navbar-link:hover {
    opacity: 0.75;
}

.shop__header__navbar-item,
.shop__header__navbar-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300%;
}

.shop__header__navbar-link-login-logout {
    
}

.shop__header__navbar-item-separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.shop__header__navbar-icon {
    font-size: 1.6rem;
    margin-right: 0.4rem;
}

.shop__header__navbar-item,
.shop__header__navbar-icon,
.shop__header__navbar-link {
    display: inline-flex;
    align-items: center;
}

.header__notify {
    position: absolute;
    top: 144%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) top;
    animation: Growth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    z-index: 3;
}

.header__notify::before {
    content: "";
    border-width: 20px 35px;
    border-style: solid;
    border-color:  transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 14px;
    top: -28px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
}

@keyframes Growth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
color: #a4a3a3;
margin: 0;
font-weight: 400;
font-size: 1.4rem;
line-height: 40px;
padding-left: 10px;
cursor: default;
user-select: none;
}
.header__notify-list {
    list-style: none;
    padding-left: 0;
}

.header__notify-item:hover {
    background-color: rgba(238, 75, 43,0.01);
}

.header__notify-item--unviewed {
    background-color: rgba(238, 75, 43,0.08);
}
.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
}

.header__notify-link:hover {
    background-color: #f8f6f5;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.3rem;
    font-weight: 4000;
    color: var(--black-color);
    text-transform: uppercase;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #756F6E;
    
}

.wrap-text {
    text-wrap: wrap;
}

.footer__notify {
    display: flex;
}

.footer__notify-all-btn {
    /* line-height: 40px; */
    width: 100%;
    padding: 12px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
}

.footer__notify-all-btn:hover {
    cursor:default;
}


.header-with-search {
    padding-top: 20px;
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 4px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #bbbbbb;
    z-index: 2;
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #d0d0d0;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 15px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
    border-radius: 3px;
}

.header__search-history-link {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--black-color);
    display: block;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding:  0 15px;
}

.header__search-btn {
    background-color: rgb(251, 85, 51);
    border: none;
    height: 34px;
    width: 66px;
    border-radius: 4px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color:rgba(251, 85, 51,0.9);
}

.header__search-btn-icon {
    font-size: 1.3rem;
    color: var(--white-color);

}

.header__cart {
    width: 200px;
    text-align: center;
    position: relative;
}



.header__cart-icon {
    left: 45px;
    bottom: 50%;
    position: absolute;
    transform: translateY(50%);
    margin-top: 12px;
    color: var(--white-color);
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: 20px;
    background-color: var(--white-color);
    z-index: 1;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: Growth ease-in 0.25s;
    transform-origin: calc(100% - 20px) top;
    animation: Growth ease-in 0.25s;
    will-change: opacity, transform;
}

/* .header__cart:hover .header__cart-list {
    display: block;
} */

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 1px;
    top: -22px;
    border-width: 12px 19px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list-nocart .header__cart-nocart-img {
    display: block;
}

.header__cart-nocart-img {
    width: 100%;
    display: none;
}
.header__cart-quality {
    position: absolute;
    padding: 2px 4px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 2px solid var(--primary-color);
    border-radius: 2.75rem;
    text-align: center;
    padding: 1px 7px;
    top: 6px;
    right: 10px;

    
}
.header__cart-icon:hover {
    cursor: pointer;
}


.page-product {
    width:100%;
    height: 100vh;
    padding-top: 10px;
    margin: auto;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    max-width: 100%;
}

.product-briefing {
    width: 100%;
}

.card {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.product_img {
    width: 450px;
    padding: 15px;
    flex-shrink: 0;
}

.product_description {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 35px 0 20px;
}

.buadi {
    width: 100%;
}

.description-name {

}

.description-name span {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
}

.description-rating {
    color: var(--primary-color);
    font-size: 1.3rem;
    padding: 10px 0;
}

.description-price {
    font-size: 3rem;
    background: #fafafa;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.description-price h3 {
    padding: 20px;
    line-height: 100%;
    display: block;
    font-size: 1.17em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

.abc {

    color: #757575;
    /* width: 100px; */
    text-transform: capitalize;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    margin-top: 12px;
}

.description-transport {
height: auto;
}

.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.truck-icon {
    margin: 10px;
    font-size: 25px;
    color: var(--text-color);
}

.address {
    font-size: 15px;
}

.delivery-fee {
    padding: 20px;
    padding-left: 0;
    font-size: 15px;
}

.drawer {
    margin-left: 10px;
}

#tinhThanh,
#huyen,
#xa {
    padding: 7px;
    border: none;
    outline: none;
    background-color: #fafafa;
    border-radius: 4px;
    margin: 4px 0;
    cursor: pointer;
}

.btn {
    height: 46px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
    font-size: 18px;
    font-weight: 100;
}

.description-action {
    margin-top: 8px;
    margin-bottom: 40px;
}

.add-to-cart {
    background-color: #ffeee8;
    border: 1px solid #ee4d2d;
    margin-left: 0;
    color: #ee4d2d;
}

.cart-add-icon {
    margin: 8px;
    margin-left: 0;
}

.purchase {
    background-color: var(--primary-color);
    color: var(--white-color);
}