<!-- enctype="multipart/form-data -->
<form action="" method="post" ">
  <div class="form-group">
    <label for="name">Tên</label>
    <input type="text" class="form-control" id="name" name="name" >
  </div>
  <div class="form-group">
    <label for="pass">Mật khẩu</label>
    <input type="text" class="form-control" id="" name="pass" >
  <!-- </div>
   <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="address" >
  </div>
  <div class="form-group">
    <label for="confirm_password">Xác nhận mật khẩu</label>
    <input type="password" class="form-control" id="confirm_password" name="gender" >
  </div>
  <div class="form-group">
    <label for="confirm_password">Xác nhận mật khẩu</label>
    <input type="password" class="form-control" id="confirm_password" name="birthday" >
  </div>
  <div class="form-group">
    <label for="confirm_password">Xác nhận mật khẩu</label>
    <input type="password" class="form-control" id="confirm_password" name="phone_number" >
  </div> -->
  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>