<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/1147679ae7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./dangnhap.css">
    <link rel="stylesheet" href="./base2.css">
</head>
<body>
    <div class="auth-form">
        <div class="auth-form_header">
            <a class="fa fa-sharp fa-solid fa-arrow-left"></a>
            <h3 class="auth-form__heading">Đăng Nhập</h3>
               
    <form>         
        </div> 
        <div class="auth-form_form">
            <div class="auth-form_group">
                <label for="email" class="form-label">SĐT/Email:</label>
                <input type="text" class="auth-form__input" placeholder="SĐT/Email của bạn"></div>
            <div class="auth-form_group">
                <label for="email" class="form-label">Mật khẩu:</label>
                <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu của bạn">
            </div>   
        </div>
        <div class="auth-form__controls">
            <button class="btn">Đăng Nhập</button>
        </div>
        <div class="auth-form__aside">
            <div class="auth-form_help">
                <a href=""class="auth-form_help-link">Quên mật khẩu</a>
                <span class="auth-form__help-separate"></span>
                <a href=""class="auth-form_help-link">Bạn cần trợ giúp</a>
            </div>
        </div>
        
        <div class="auth-form__controls1">
            Bạn mới biết đến Shoppe? <a class="wzgwUg" href="/buyer/login?next=https%3A%2F%2Fshopee.vn%2F">Đăng ký</a></div>
             
    </div>
    
    
    
</body>
</html>